<form nz-form [formGroup]="this.form" (submit)="this._onSubmit(this.form)">
    <!-- First name form part -->
    <nz-form-item>
        <nz-form-label nzFor="email">Email</nz-form-label>
        <nz-form-control>
            <input nz-input name="email" type="email" id="email" formControlName="email">
        </nz-form-control>
    </nz-form-item>

    <!-- Password form part -->
    <nz-form-item>
        <nz-form-label nzFor="password">Password</nz-form-label>
        <nz-form-control>
            <input nz-input name="password" type="password" id="password" formControlName="password">
        </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" [disabled]="this.form.invalid" nzBlock>Login</button>

</form>